:root {
  --bs-light-rgb: 249, 250, 250;
}

.bg-light {
  --bs-bg-opacity: 0.95;
}

/* just for {js4shiny}
pre {
  border: 1px solid #cfd5d8;
  border-radius: 0;
  background-color: var(--bs-body-bg);
  line-height: 1.33;
}
*/

pre {
  border: none;
  border-radius: 0;
  background-color: var(--bs-body-bg);
  line-height: 1.33;
  padding: 0;
}

.hasCopyButton {
  pre {
    min-height: 2rem;
    display: flex;
    align-items: center;
  }
  &:hover > pre {
    background-color: HSL(180 2% 95% / 1);
    outline: 0.5rem solid HSL(180 2% 95% / 1);
  }
  .btn-copy-ex {
    top: 0;
    right: 0;
    transform: scale(0.8);
    transform-origin: top right;
  }
}

main pre a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.template-reference-index dt code a {
  text-decoration: none;
  font-weight: 500;
}

.template-reference-index dt code:hover a {
  color: var(--bs-red);
}

:not(pre) > code {
  font-size: 0.975em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;

  &, h6 {
    color: #09414a; /* --blue-10 */
  }
}

.template-home #main + aside {
  a {
    text-decoration: none;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}

.navbar-light .navbar-nav:first-of-type .nav-link:hover {
  color: #0b535d;
  box-shadow: inset 0 -0.1em 0 currentColor;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-secondary);
  background-color: unset;
}

.navbar-light .navbar-nav:first-of-type .active > .nav-link {
  color: #0b535d;
	background-color: unset;
  box-shadow: inset 0 -0.1em 0 #f54f61;
}

@media (max-width: 575.98px) {
  .container main pre {
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5 - 1px);
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.card.card-as-link {
  position: relative;

  /* Expand the link to fill the entire card */
  a.card-primary-link:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  // NOTE: maybe should swap :before and :after to ensure the arrow is
  //       top-aligned when used in headers.
  a.card-primary-link:after {
    content: ' \2192';
    display: inline-block;
    margin-left: 0.25rem;
    transition: transform 200ms ease-in-out;
  }

  a.card-primary-link.card-header-link:after {
    position: absolute;
    right: var(--bs-card-spacer-x, 1rem);
  }

  &:hover a.card-primary-link:after {
    transform: translateX(5px);
  }
}
