:root {
  --bs-light-rgb: 249, 250, 250;
}

.bg-light {
  --bs-bg-opacity: 0.95;
}

/* just for {js4shiny}
pre {
  border: 1px solid #cfd5d8;
  border-radius: 0;
  background-color: var(--bs-body-bg);
  line-height: 1.33;
}
*/

pre {
  border: none;
  border-left: 2px solid #cfd5d8;
  border-radius: 0;
  background-color: var(--bs-body-bg);
  line-height: 1.33;
}

main pre a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:not(pre) > code {
  font-size: 0.975em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;

  &, h6 {
    color: #09414a; /* --blue-10 */
  }
}

.template-home #main + aside {
  a {
    text-decoration: none;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}

.navbar-light .navbar-nav:first-of-type .nav-link:hover {
  color: #0b535d;
  box-shadow: inset 0 -0.1em 0 currentColor;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-secondary);
  background-color: unset;
}

.navbar-light .navbar-nav:first-of-type .active > .nav-link {
  color: #0b535d;
	background-color: unset;
  box-shadow: inset 0 -0.1em 0 #f54f61;
}

@media (max-width: 575.98px) {
  .container main pre {
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5 - 1px);
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
   --bs-blue: var(--bs-blue);
   --bs-indigo: var(--bs-indigo);
   --bs-purple: var(--bs-purple);
   --bs-pink: var(--bs-pink);
   --bs-red: var(--bs-red);
   --bs-orange: var(--bs-orange);
   --bs-yellow: var(--bs-yellow);
   --bs-green: var(--bs-green);
   --bs-teal: var(--bs-teal);
   --bs-cyan: var(--bs-cyan);
   --bs-white: var(--bs-white);
   --bs-gray: var(--bs-gray);
   --bs-gray-dark: var(--bs-gray-dark);
   --bs-gray-100: var(--bs-gray-100);
   --bs-gray-200: var(--bs-gray-200);
   --bs-gray-300: var(--bs-gray-300);
   --bs-gray-400: var(--bs-gray-400);
   --bs-gray-500: var(--bs-gray-500);
   --bs-gray-600: var(--bs-gray-600);
   --bs-gray-700: var(--bs-gray-700);
   --bs-gray-800: var(--bs-gray-800);
   --bs-gray-900: var(--bs-gray-900);
   --bs-default: var(--bs-default);
   --bs-primary: var(--bs-primary);
   --bs-secondary: var(--bs-secondary);
   --bs-success: var(--bs-success);
   --bs-info: var(--bs-info);
   --bs-warning: var(--bs-warning);
   --bs-danger: var(--bs-danger);
   --bs-light: var(--bs-light);
   --bs-dark: var(--bs-dark);
   --bs-default-rgb: var(--bs-default-rgb);
   --bs-primary-rgb: var(--bs-primary-rgb);
   --bs-secondary-rgb: var(--bs-secondary-rgb);
   --bs-success-rgb: var(--bs-success-rgb);
   --bs-info-rgb: var(--bs-info-rgb);
   --bs-warning-rgb: var(--bs-warning-rgb);
   --bs-danger-rgb: var(--bs-danger-rgb);
   --bs-light-rgb: var(--bs-light-rgb);
   --bs-dark-rgb: var(--bs-dark-rgb);
   --bs-white-rgb: var(--bs-white-rgb);
   --bs-black-rgb: var(--bs-black-rgb);
   --bs-body-rgb: var(--bs-body-rgb);
   --bs-font-sans-serif: var(--bs-font-sans-serif);
   --bs-font-monospace: var(--bs-font-monospace);
   --bs-gradient: var(--bs-gradient);
   --bs-body-font-family: var(--bs-body-font-family);
   --bs-body-font-size: var(--bs-body-font-size);
   --bs-body-font-weight: var(--bs-body-font-weight);
   --bs-body-line-height: var(--bs-body-line-height);
   --bs-body-color: var(--bs-body-color);
   --bs-body-bg: var(--bs-body-bg#F9FAFA
  }
}
